@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap');
:root {
    --primary-color: #07E061;
    --secundary-color: #8E1DE0;
    --dark-purple: #580494;
    --dark-green: #0C9445;
    --contrast: #E0A134;
    --dark-grey: #424242;
}

body {
    background: url("../assets/moon.jpg");
}

.dark {
    color: white;
    border-radius: 0.5rem;
    background-color: rgb(20, 20, 20);
}

.transparent{
    color: white;
    border-radius: 0.5rem;
    background-color: rgb(20, 20, 20, .3);
}

.primary {
    background-color: var(--primary-color);
}

.b-primary {
    border-color: var(--primary-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--primary-color);
}

p,
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

b {
    color: var(--dark-purple);
}