#navigation {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#navigation #menu {
	display: inline-flex;
}

#navigation #menu li {
	list-style: none;
}

#navigation #menu li a {
	margin: 5px;
	font-size: 1.5rem;
}

footer .link {
	color: white;
}

footer .channel:hover {
	background-color: #07E061;
	color: white;
}